@import "../../public/Colors/colors";
@import "../../public/Fonts/fonts";

.wrapper {
    margin-top: 130px;
    font-family: $CerebriSans_bold;
}

.table-w-350-scroll {
    height: 76vh;
    overflow: auto;
}
.myHeader, .myCell{
    flex: 0 0 100px;
    white-space: nowrap;
  }