$halvetica_new_bold : "HelveticaNeue-Bold";
$CerebriSans_bold : "CerebriSans-Bold";
$CerebriSans_Regular: "CerebriSans-Regular";
$CerebriSans_Light : "CerebriSans-Light";
$CerebriSans_semibold : " CerebriSans-semibold";

@font-face {
  font-family: $halvetica_new_bold;
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Bold'), url('./helveticaneue/Helvetica Neu Bold.ttf') format('ttf');
}

@font-face {
  font-family: $CerebriSans_bold;
  font-style: normal;
  font-weight: normal;
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Bold.ttf') format('ttf');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Bold.eot') format('eot');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Bold.svg') format('svg');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Bold.woff') format('woff');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: $CerebriSans_semibold;
  font-style: normal;
  font-weight: normal;
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-SemiBold.ttf') format('ttf');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-SemiBold.eot') format('eot');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-SemiBold.svg') format('svg');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-SemiBold.woff') format('woff');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: $CerebriSans_Light;
  font-style: normal;
  font-weight: normal;
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Light.ttf') format('ttf');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Light.eot') format('eot');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Light.svg') format('svg');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Light.woff') format('woff');
  src: local('CerebriSans-Bold'), url('./CerebriSans/CerebriSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: $CerebriSans_Regular;
  font-style: normal;
  font-weight: normal;
  src: local('CerebriSans-Regular'), url('./CerebriSans/CerebriSans-Regular.ttf') format('ttf');
  src: local('CerebriSans-Regular'), url('./CerebriSans/CerebriSans-Regular.eot') format('eot');
  src: local('CerebriSans-Regular'), url('./CerebriSans/CerebriSans-Regular.svg') format('svg');
  src: local('CerebriSans-Regular'), url('./CerebriSans/CerebriSans-Regular.woff') format('woff');
  src: local('CerebriSans-Regular'), url('./CerebriSans/CerebriSans-Regular.woff2') format('woff2');
}
