<div>

    <div class="modal-header">
        <h4 class="modal-title">Send Email</h4>
    </div>
    <div class="modal-body">
        <!-- <div class="d-flex justify-content-center">
            <button class="border-0 text-white exportBtn shadow-sm mb-3 rounded-sm w-75">
                <span>SEND TO ADMIN</span>
            </button>
        </div> -->
        <input type="email" #email_text class="form-control textfield-primary" placeholder="Type Email">
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center">
            <button class="border-0 text-white bx-3 exportBtn shadow-sm rounded-sm" (click)="emit(email_text.value)">
                <span>SEND</span>
            </button>
        </div>
    </div>
</div>