<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w-100 h-100 scroll_none">
    <div class="title text-center sticky-top">
        <button (click)="sidenav.close()" class='bg-transparent border-0 form-close-btn position-absolute'>
            <fa-icon [icon]='close'></fa-icon>
        </button>
        {{ field == 'event' && action == 'add' ? 'ADD EVENT' : 'EDIT EVENT' }}
    </div>
    <form [formGroup]="eventForm">
        <div class="mx-2 {{action == 'edit'?'h-product-eidt':'h-product'}}">
            <div class="form-row mx-3">
                <div class="form-group mx-2 w-100">
                    <div class="input-group ">
                        <div class="text-left col-12 mx-0 mt-4 p-0 ">
                            <label>Name</label>
                        </div>
                        <input type="text" #product_name class="form-control w-100" placeholder="Enter name"
                            formControlName="event_name">
                    </div>
                </div>
                <div class="form-group mx-2 w-100">
                    <div class="input-group event-calendar">
                        <div class="text-left col-12 mx-0 p-0 ">
                            <div class="row mx-0 w-100">
                                <div class="col-6 pl-0">
                                    <label>Start</label>
                                </div>
                                <div class="col-6 pr-0">
                                    <label>Expires</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 w-100">
                            <div class="col-6 pl-0">
                                <mat-form-field appearance="outline" floatLabel="never" class="w-100">
                                    <mat-label
                                        style="padding: 15px;font-family: 'cerebrisans-Regular'; font-size: 16px;">
                                        Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="start">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-6 pr-0">
                                <mat-form-field appearance="outline" floatLabel="never" class="w-100">
                                    <mat-label
                                        style="padding: 15px;font-family: 'cerebrisans-Regular'; font-size: 16px;">
                                        Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker1" formControlName="expiry_date">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-2 w-100">
                    <div class="input-group">
                        <label>Rewards</label>
                        <mat-form-field appearance="outline" class="e-autocomplete gst_percent w-100"
                            style="box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);">
                            <input type="text" #product placeholder="Choose Reward" aria-label="Number" matInput
                                [matAutocomplete]="auto" (input)="filter_rewards($event.target.value)"
                                formControlName="reward">
                            <mat-autocomplete #auto="matAutocomplete" class="option_down_line">
                                <mat-option *ngFor="let option of rewards;let i = index;let last = last"
                                    [value]="option.value" [ngClass]="{'border_none': last === true }">
                                    {{option.value}}
                                </mat-option>
                            </mat-autocomplete>
                            <button type="button"
                                class="position-absolute btn-add border-0 bg-transparent h-100 w35 r0">
                                <fa-icon [icon]='faCaretDown'></fa-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group mx-2 w-100">
                    <div class="input-group ">
                        <div class="text-left mx-0 p-0 ">
                            <label>Amount</label>
                        </div>
                        <div class="w-100">
                            <input type="text" #product_name class="form-control w-100" placeholder="Enter Amount"
                                formControlName="amount">
                            <button type="button"
                                class="position-absolute btn-add border-0 bg-transparent w-30px r8 bottom-8px">
                                <fa-icon [icon]='faTimes'></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="form-group mx-2 w-100">
                    <div class="input-group notes">
                        <div class="text-left col-12 mx-0 p-0">
                            <label>Products</label>
                        </div>
                        <div class="form-control w-100 notes_select event-mat-select">
                            <mat-select #matProduct placeholder="Products"
                                class="option_down_line_prod" multiple panelClass="testClass"  [(value)]="selectedProducts">
                                <mat-optgroup *ngFor="let group of ProductOptions | async,let index_cat = index"
                                    class="bg-danger product_box">
                                    <div class="border-category">{{group.category_details.category_name}}</div>
                                    <mat-option *ngFor="let name of group.products;let i = index;let last = last"
                                        class="mx-2 product-option py-3"
                                        (click)="updateProductList(index_cat,i)"  value="{{ name._id }}">
                                        <div class="opt-body" [ngClass]="{'border_none': last == true }">
                                            <img src={{name.image_url}} width="30" height="30" class="pr-2 py-1">
                                            {{name.product_name}}
                                            <!-- <mat-checkbox [checked] = "name.checked" class = "position-absolute r30px d-flex align-items-center justify-content-end" style="width: 30px ; height : 30px;" disableRipple></mat-checkbox> -->
                                        </div>
                                    </mat-option>
                                </mat-optgroup>
                            </mat-select>
                            <button type="button" class="position-absolute btn-add border-0 bg-transparent w35 r0"
                                (click)="matProduct.open()">
                                <fa-icon [icon]='faCaretDown'></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group mx-2 w-100 mt-lg-2">
                    <div class="input-group img-upload">
                        <div class="w-100 z-ind1">
                            <p class="mb-0 img-head text-center py-3">THUMBNAIL PHOTO</p>
                        </div>
                        <div class="h-200 bg-white-img w-100 d-flex align-items-center px-lg-5 px-4" *ngIf = "isLoadingUploadThumbnail != true">
                            <div class="">
                                <img [src]="imgURL" height="88" class="event-img-width" *ngIf="imgURL">
                                <div class="border-dotted event-img-box d-flex justify-content-center align-items-center"
                                    *ngIf="!imgURL">Upload</div>
                            </div>
                            <div class="w-100 d-flex justify-content-end">
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                <label class="upload-png px-3 justify-content-end">Upload PNG
                                    <input #file type="file" accept='image/*' (change)="preview(file.files)"
                                        formControlName="thumb_image" class="input-img" style="display: none;" />
                                </label>
                            </div>
                        </div>
                        <div *ngIf="isLoadingUploadThumbnail == true"
                                class="bg-white syra-font-primary-Regular d-flex justify-content-center align-items-center w-100 h-100"
                                style="min-height: 150px;">
                                Loading...
                         </div>
                    </div>
                </div>
                <div class="form-group mx-2 w-100 mt-lg-2">
                    <div class="input-group img-upload">
                        <div class="w-100 z-ind1">
                            <p class="mb-0 img-head text-center py-3">COVER IMAGE</p>
                        </div>
                        <div class="h-200 bg-white-img w-100 d-flex align-items-center px-lg-5 px-4" *ngIf = "isLoadingUploadCover != true">
                            <div class="">
                                <img [src]="cover_imgURL" height="88" class="event-img-width" *ngIf="cover_imgURL">
                                <div class="border-dotted event-img-box d-flex justify-content-center align-items-center"
                                    *ngIf="!cover_imgURL">Upload</div>
                            </div>
                            <div class="w-100 d-flex justify-content-end">
                                <span style="color:red;" *ngIf="message">{{message}}</span>
                                <label class="upload-png px-3 justify-content-end">Upload PNG
                                    <input #filee type="file" accept='image/*' (change)="preview_cover(filee.files)"
                                        formControlName="cover_image" class="input-img" style="display: none;" />
                                </label>
                            </div>
                        </div>
                        <div *ngIf="isLoadingUploadCover == true"
                                class="bg-white syra-font-primary-Regular d-flex justify-content-center align-items-center w-100 h-100"
                                style="min-height: 150px;">
                                Loading...
                         </div>
                    </div>
                </div>
                <div class="form-group mx-2 mt-lg-2 w-100 event_form">
                    <div class="input-group img-upload">
                        <div class="w-100 z-ind1">
                            <p class="mb-0 img-head text-center py-3">COPY</p>
                        </div>
                        <div class="h-250 bg-white-img w-100 d-flex justify-content-center">
                            <quill-editor class="pt-2" formControlName="notes">
                                <div quill-editor-toolbar>
                                    <span class="ql-formats d-flex mr-0">
                                        <button class="ql-bold" [title]="'Bold'"></button>
                                        <button class="ql-italic" [title]="'italic'"></button>
                                        <button class="ql-link" [title]="'link'"></button>
                                        <div class="ml-auto">
                                            <button class="ql-header" [title]="'header'">H</button>
                                            <button class="ql-paragraph" [title]="'paragraph'">P</button>
                                        </div>
                                    </span>
                                </div>
                            </quill-editor>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row mx-0 justify-content-center align-items-center shadow-top"
                style="margin-left : -10px; margin-right: -10px;background-color: #F5F5F5;">
                <div class="col-12  d-flex justify-content-center {{action =='edit' ? 'py-3':'py-4'}}">
                    <button type="submit" (click)="saveAction()" class="btn text-white btn-sm">
                        <i *ngIf="isLoadingAdd == true" class="fa fa-spinner fa-spin mr-3"></i>
                        <span>SAVE</span>
                    </button>
                </div>
                <div class="col-12 pb-3 d-flex justify-content-center pb-4"
                    *ngIf="field == 'event' && action == 'edit'">
                    <button (click)="deleteAction()" class="btn-danger">
                        <i *ngIf="isLoadingDelete == true" class="fa fa-spinner fa-spin mr-3"></i>
                        <span>DELETE ITEM</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>